@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body{
  background-color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

}

.Bg{
  position: absolute;
  height: 96px;
  width: 100%;
 
  background-color: #adb5bd;
  z-index: -1;
}

.App {
  
  width: 100%;

}

.appWrap{
  width: 912px;
  position: absolute;
  left: 50%;
  margin-left: -456px;
}

.App-logo {
 
  height: 32px;
  padding-top: 32px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.Cell {
  
 
  padding: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.sortCell {
  
 
  padding: 16px 0 16px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#909090;

}

.Row{
  margin-top: 2px;
  background-color: white;
}

.sortRow{
  margin-top: 10px;

  background-color: white;
  font-size: 16px;
  
}

input{
  margin:0;
  padding: 0;
  height: 40px;
  border: none;
  background-color: #f1f1f1;
  padding-left: 15px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.td{
  height: 24px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #505050;
}

.formCell {
  
 
  padding: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.btn{
  height: 40px;
  padding: 0 20px;
}

h1{
  position: absolute;
  top:16px;
  left: 50px;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

h2{
  padding: 60px 0 10px 0;
  color: #909090;
  font-weight: 600;
}

.a-btn{
  margin-right: 30px;
  color: #909090;
}